
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --color-red: rgb(142, 21, 11, 0.2);
  --color-red-full: rgb(142, 21, 11);
  --color-green: #27ab5e;
  --color-blue: rgb(56, 93, 178, 0.2);
  --color-blue-full: rgb(56, 93, 178);
  --bg-light-white: rgb(219, 219, 219);

}
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

/* searchbar, username and icons */
.header {
  display: flex;
  width: 100%;
  margin: 1.5rem 1rem;
  align-items: center;

}

.header > * {
  margin: 0rem 1rem;
}
/* greeting, 'new, upload, share' */
.menu {


}

.projects {

}

.sidebar {

}

input[type="search"] {
  flex: 0.5 1 80%;
  font-size: 1.6rem;
  height: 4rem;
  background-color: rgb(219, 219, 219);
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 6rem;
  margin-right: 3rem;

}


@media screen and (min-height: 750px) {

}